.wrap{
	max-width:1025px;
	margin: 0 auto;
}
.header{
	margin-top:300px;
	background:url(../image/images/bannerV2_02.png);
	min-height:418px;
}	
.header ul,.introduce ul{
	display:inline;
	float:right;
}

.header li,.introduce li{
	float:left;
}

.clearfix::after{
	content:'';
	display:table;
	clear:both;
}
.nav{
	position: relative;
	top:-11px;
	right:2px;
}
.navbar{
	position: relative;
	top:-11px;
	right:2px;
}
.feature{
	margin-top:34px;
}
.feature table{
	width:840px;
	height:252px;
	margin-left:auto; 
	margin-right:auto;
}
.feature table tr{
	border-top:1px solid #dddddd;
	border-bottom:1px solid #dddddd;
}
.feedback{
	background: url(../image/images/fbInfColor.png);
}
.feedback textarea{
	width:455px;
	height:243px;
	resize:none;
}
.feedback .btn{
	width: 69px;
	height: 32px;
}
.feedback input{
	width:460px;
	height:32px;
}
.footer{
	margin-top:20px;
}
.feedback .btn{
	width: 69px;
	height: 32px;
}
